@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel-slider
        width: 60%
        &__image
            width: 100%
            height: 100%
            object-fit: cover
    .card
        width: 225px
        max-height: 225px
    .card-hotel-top
        &__booking
            &-text-info
                overflow: scroll

@media  (max-width: 992px)
    .container,
    .newsletter-wrapper
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-search
            margin-left: auto
        .navbar-menu
            padding: 22px 0
            &__link
            font-size: 12px
            line-height: 15px
    .search
        &__input
            width: 340px
    .hotel
        &-grid
            flex-direction: column
            &__info
                flex-direction: row
        &__slider
            margin-bottom: 30px
        &-slider
            width: 100%
    .booking
        width: 49%
    .ymap-container
        width: 49%
    .map
        width: 49%
    .packages
        &-wrapper
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr  
            grid-gap: 30px
    .card-hotel-top
        &__booking
            width: 100%
            &-text-info
                overflow: hidden
    .card-hotel
        &__booking
            width: 100%
    .reviews
        &-slider
            &__item
                max-width: 580px
    .card
        width: 48%
        height: 225px
    .activities
        &__card:nth-child(-n+2)
            margin-bottom: 20px
    .footer
        &__logo
            grid-row: 1 / 2
        &__input
            &-group
                width: 100%    
    .modal
        &__dialog
            max-width: 578px
            padding: 23px 58px
    
@media  (max-width: 768px)
    .container
        max-width: 700px
        width: 92%

    .search
        &__input
            width: 346px
            padding: 1px 75px 1px 28px
    .navbar
        &__nav
        &-wrapper
            padding-bottom: 32px
            padding-top: 26px
        &--fixed
            position: fixed
            left: 0
            top: 0
            right: 0
            z-index: 99
        &__search
            margin-left: 6%
        .navbar-menu
            padding-right: 20px
            padding-left: 14px
            &__link
                font-size: 11px
                line-height: 15px
    .breadcrumb
        margin-top: 160px
    .hotel
        padding-top: 20px
    .hotel-slider
        height: 451px
    .booking
        width: 49%
    .ymap-container
        width: 47%
    .newsletter
        padding: 92px 1px 94px 0;
        &-wrapper
            max-width: 700px
            width: 92%
            
    .reviews
        &__title
            font-size: 30px
            Line-height: 48px
            margin-bottom: 44px
        &-slider
            &__item
                padding: 0 30px 30px
                &::after, &::before
                    display: none
            &__text
                max-width: 451px
            &__button
                top: 173px
                &--prev
                    left: 0
                &--next
                    right: 0
    .card
        max-height: 263px
        &__image
        &__title
            margin-bottom: 19px;
            width: 54%
    .activities
        padding: 67px 0 49px 0
        &__title
            margin-bottom: 54px
        &__card
            height: 257px
            &:nth-child(-n+2) 
            margin-bottom: 14px;
    .packages
        padding: 20px 0 40px 0
        &__title
            font-size: 26px
            line-height: 35px
            margin-bottom: 45px
        &-wrapper
            grid-gap: 30px
    .card-hotel-top
        grid-template-columns: 1fr 1fr
        &__image
            border-top-right-radius: 6px
            &-hotel
                max-height: 500px
        &__booking
            width: 100%
            &-stars 
                margin-top: 0
            &-text-info
                margin-bottom: 24px
                overflow: scroll
            &-room
                margin-bottom: 22px
            &-pricetag
                font-size: 18px
                line-height: 30px
    .card-hotel  
        grid-template-rows: 1fr 
        &__image
            &-hotel
                height: 250px
        &__booking
            width: 100%
            &-pricetag
                font-size: 18px
                line-height: 30px
    .footer
        padding-top: 31px
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-row-gap: 4px
            &:not(:last-child)
                grid-gap: 40px
        &__logo
            width: 95px
            height: 201px
            grid-column: 1
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 5
                align-self: center
                padding-left: 18px
                padding-top: 14px
        &__additional
            width: 164%
            grid-column: span 2
        &__categories
            width: 140%
            padding: 0
            grid-row: 2 / 3
            grid-column: 1
        &__legal
            grid-column: span 3
            padding-left: 93px
        &__contact
            &-details
                grid-column: span 6
                grid-row: 3
            &-form
                justify-self: baseline;
                grid-column: span 5;
        &__title
            &-contact-details 
                margin-top: 59px
            &-contact-form
                padding-top: 4px
                margin-top: 50px
            &-form
                grid-column: span 6
                grid-row: 4
        &__input
            &-group
                width: 48%
        &__bottom
            &-wrapper
                grid-template-columns: 1fr min-content
                grid-column: span 6
                grid-gap: 1px
                justify-items: baseline
                padding-top: 14px
    .modal
        &__dialog
            width: 60%
            padding: 23px 28px
@media (max-width: 576px)
    .navbar__nav
        position: fixed
        right: 0
        bottom: 0
        top: 67px
        padding-top: 30px
        transition: 0.5s
        transform: translateX(100%)
        overflow: auto
        &--visible
                transform: translateX(0%)
    .navbar
        &-wrapper
            padding: 28px 0 28px 0
        &-menu
            flex-direction: column
            width: 325px
            max-height: 440px
            &__item
                margin-bottom: 20px
                &--mobile
                    &--visible
                        display: block
        &__user, &__search
            &--mobile
                &--hidden
                    display: none
                &--visible
                    display: flex
        &__user
            flex-direction: column
            justify-content: center
    .user
        &__name
            display: block
            &--light
                color: $light
                margin-left: 0
                margin-top: 10px
    .reviews
        &-slider
            &__button
                top: 
                &--prev
                    left: 50%
                    margin-left: -95px
                    transform: translate(-50%, 0)
                    top: 27px
                &--next
                    right: 50%
                    margin-right: -95px
                    transform: translate(50%, 0)
                    top: 27px

    .menu-button
        width: 16px
        height: 11px
        padding: 0
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        background-color: #fff
        cursor: pointer
        &__line
            Width: 16px
            Height: 1px
            background-color: $text-color
    .breadcrumb
        margin-top: 67px
    .logo
        width: 99px
    .newsletter
        &-wrapper
            display: flex
            flex-direction: column
            align-items: baseline
        &-title
            &__strong
                font-size: 30px
    .hotel
        &-wrapper
            display: flex
            align-items: center
            justify-content: space-between
            flex-wrap: wrap
        &-name
            flex-basis: 100%
        &-info
            &__stars
                margin-bottom: 16px
            &__stars-img:not(:last-child)
                margin-right: 2px
            &__text
                width: 100%
            &__offer
                order: -1
                margin-left: 0
                margin-bottom: 10px
            &__rating
                display: none
        &-grid__info
            flex-direction: column
            height: 450px
    .stars
        flex-basis: auto
    .hotel-slider
        height: 275px
    
    .booking
        width: 100%
    .ymap-container
        width: 100%
    .card
        &-title
            width: 66%
    .activities
        margin-top: 121px
        &__title
            text-align: center
        &-wrapper
            flex-direction: column
            align-items: center
        &__card:nth-last-child(n+2)
            margin-bottom: 21px
        &__card
            width: 100%
            &-order-1
                order: 1
            &-order-2
                order: 3
            &-order-3
                order: 2
            &-order-4
                order: 4
    .card-hotel-top
        grid-template-columns: 1fr
        &__image
            &-hotel
                max-height: 400px
        &__booking
            border-radius: 0
            border-bottom-left-radius: 6px
            border-bottom-right-radius: 6px
            &-text-info
                overflow: auto
    .card-hotel
        grid-template-rows: 1fr
        grid-column: span 2
    .footer
        &-wrapper
            grid-template-columns: 1fr
            grid-gap: 0
        &__logo
            max-width: 100px
            grid-row: 1
            grid-column: 1
        &__social
            &-links
                margin-top: 17px
            &-network
                display: flex
                flex-direction: column
                align-items: baseline
                padding: 0
                margin-bottom: 32px
                grid-row: 2
                grid-column: 1
        &__title
            &-contact-details
                margin-top: 36px
            &-contact-form
                margin-top: 79px
        &__legal
            margin-bottom: 23px
            padding: 0
            grid-row: 3
            grid-column: 1
        &__additional
            margin-bottom: 29px
            padding: 0
            grid-row: 4
            grid-column: 1
        &__categories
            grid-row: 5
            grid-column: 1
            margin-bottom: 4px

        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-form
                grid-row: 7
                grid-column: 1
        &__input
            &-group
                width: 100%
        &__info
            margin-bottom: 15px
        &__button
            &-wrapper
                flex-direction: column-reverse
                align-items: start
        &__bottom
            &-wrapper
                grid-template-columns: 1fr
                grid-row: 8
                grid-column: 1
    .modal
        &__dialog
            width: 70%
            padding: 23px 28px
@media (max-width: 480px)
    .container
        width: 88%
    .navbar
        &__nav
            padding-top: 23px
            padding-right: 11px
        &-menu
            padding-right: 19px
            padding-left: 13px
        &__search
            &--mobile
                &--visible
                    margin-left: 10%
                    margin-right: 15%
                    margin-bottom: 15px
    .breadcrumb
        margin-top: 70px
        
                
    .hotel
        &-grid
            padding-left: 2px
            padding-top: 1px
        &__stars
            margin-right: 17px
        padding: 0
        &-info
            margin-bottom: 37px
            &__offer
                margin: 5px 0 6px 2px
    .hotel-slider
        width: 98%
        height: 175px
        overflow: hidden
        padding-left: 1px
        &__button
            height: 8px
            &--prev
                left: 0
            &--next
                right: 0
    .booking
        &--320px
            padding: 20px 24px 21px 25px
    .packages 
        padding: 20px 0 26px 0
    .newsletter
        padding: 76px 7px 81px 9px
        &-title
            margin-bottom: 37px
            font-weight: 300
            font-size: 20px
            line-height: 25px
    .subscribe
        width: 100%
        height: 55px
        &__input
            padding-left: 20px
        &__button
            max-width: 26%
    .reviews
        padding: 40px 0 50px 0
        &-slider
            &__text
                min-height: 271px
        &__title
            margin: auto
            width: 85%
            font-size: 18px
            Line-height: 23px
            margin-bottom: 42px
            padding-left: 5px
    .activities
        margin: 0
        padding: 40px 0 60px 0
        &__title
            text-align: left
            margin-bottom: 36px
            font-size: 18px;
            line-height: 23px;
        &-wrapper
            align-items: flex-start
    .card
        width: 100%
        &__title
            width: 67%
    .footer
        padding-top: 10px
        &__contact-details
            padding-right: 7px
        &__title
            margin-top: 1px
            &--inline
                margin-top: -3px
            &-contact-details
                margin-top: 33px
            &-contact-form
                    margin-top: 49px
                    width: 90%
        &__info
            margin-bottom: 16px
        &__form
            margin-top: 11px
            width: 100%
        &__item
            &-contacts
                grid-column-gap: 11px
            &-bottom:not(:last-child)
                margin-right: 10px
        &__message
            margin-bottom: 10px
        &__text
            line-height: 149%;
            padding-left: 5px;
        &__bottom
            padding: 0
            margin: 0
            padding-bottom: 4px
            &-wrapper
                padding-top: 33px
    .ymap-container
        background-size: 279px
        background-position-y: inherit
        height: 50%
    .modal
        &__dialog
            width: 95%
            padding: 23px 18px
        
    