@media (max-width: 1200px)
    .container
        max-width: 960px
@media  (max-width: 992px)
    .container
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-search
            margin-left: auto
        .navbar-menu
            padding: 22px 0
            &__link
            font-size: 12px
            line-height: 15px
    .search
        width: 340px
    
@media  (max-width: 768px)
    .container
        max-width: 576px
        width: 92%
    .logo
        width: 120px
    .search
        width: 300px
    .user
        &__name
            display: none
    .navbar
        &__search
            margin-left: 8%
        .navbar-menu
            &__link
                font-size: 11px
                line-height: 15px
@media (max-width: 576px)
    
    