@media (max-width: 1200px)
    .container
        max-width: 960px
@media  (max-width: 992px)
    .container
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-search
            margin-left: auto
        .navbar-menu
            padding: 22px 0
            &__link
            font-size: 12px
            line-height: 15px
    .search
        &__input
            width: 340px
    
@media  (max-width: 768px)
    .container
        max-width: 576px
        width: 92%
    .logo
        width: 120px
    .search
        &__input
            width: 300px
    .user
        &__name
            display: none
    .navbar
        &__search
            margin-left: 8%
        .navbar-menu
            &__link
                font-size: 11px
                line-height: 15px
@media (max-width: 576px)
    .navbar__nav
        display: none
    .navbar
        &__search, &__user
            display: none
    .menu-button
        width: 16px
        height: 11px
        padding: 0
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        background-color: #fff
        cursor: pointer
        &__line
            Width: 16px
            Height: 1px
            background-color: $text-color
    .logo
        width: 99px
    .hotel
        &-wrapper
            display: flex
            align-items: center
            justify-content: space-between
            flex-wrap: wrap
        &-name
            flex-basis: 100%
        &-info
            &__stars
                margin-bottom: 16px
            &__stars-img:not(:last-child)
                margin-right: 2px
            &__text
                width: 100%
            &__offer
                order: -1
                margin-left: 0
                margin-bottom: 10px
            &__rating
                display: none
    .stars
        flex-basis: auto

    