*
    box-sizing: border-box
body 
    font-family: 'Mulish', sans-serif
    background-color: $secondary
    color: $text-color
    margin: 0
    padding: 0
.container
    max-width: 1110px
    margin: 0 auto
img
    max-width: 100%
    display: block