*
    box-sizing: border-box
body 
    font-family: 'Mulish', sans-serif
    background-color: $secondary
    color: $text-color
    margin: 0
    padding: 0
.container
    max-width: 1110px
    margin: 0 auto
img
    max-width: auto
    display: block
h2, h3, p
    margin: 0
    padding: 0
@mixin book-now()
    max-width: 140px
    font-family: Nunito
    font-weight: 600
    font-size: 14px
    line-height: 19px
    color: $light
    padding: 11px 27px
    border: none
    background-color: $primary
    border-radius: 4px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    cursor: pointer
.input
    background-color: #fff
    border-radius: 4px
    border: none
    padding: 18px 23px
.info
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: #E0E0E0
.title
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin: 0 0 16px 0
    text-transform: uppercase
.form
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    